:root {
  --main-color: #fb923c;
  --secondary-color: #fff7ed;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: 0;
}

body {
  height: 100vh;
  padding: 3rem;
  font-family:Arial, Helvetica, sans-serif;
  text-align: center;
  background: linear-gradient(rgba(255,255,255,0.05), rgba(255,255,255,0.05)), url("../img/cafe.jpg") no-repeat center center/cover;
}

h1 {
  font-size: 10rem;
  color: var(--main-color);
}

h2 {
  margin-top: 5rem;
  font-size: 3rem;
  color: var(--secondary-color);
}

.menu-container {
  width: 90%;
  margin: 0 auto;
  border: 3px solid #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3rem;
}

.menu-tab {
  border: 3px solid var(--main-color);
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.tab {
  border: 1px solid var(--secondary-color);
  color: #fff;
}

.menu-items {
  border: 3px solid var(--secondary-color);
  flex: 3;
}